name: Main Workflow
run-name: ${{ github.actor }} triggered "Main"

on:
  push:
    branches:
      - main
      - 'release/**'

  workflow_dispatch:
    inputs:
      environment:
        description: 'The deployment environment'
        required: true
        default: 'prod'
        type: choice
        options:
          - test
          - prod

jobs:
  prepare:
    runs-on: ubuntu-24.04
    outputs:
      environment: ${{ steps.determine-env.outputs.environment }}
      version: ${{ steps.extract-info.outputs.version }}
    steps:
      - name: Checkout code in the runner
        uses: actions/checkout@v4

      - name: Determine deployment environment
        id: determine-env
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "environment=prod" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref }}" == refs/heads/release/* ]]; then
            echo "environment=test" >> $GITHUB_OUTPUT
          else
            echo "Unknown branch: ${{ github.ref }}"
            exit 1
          fi

      - name: Extract version, hash and release date
        id: extract-info
        run: |
          version=$(awk '/symfo-base.version:/ {print $2}' config/version.yaml)
          hash=$(awk '/symfo-base.hash:/ {print $2}' config/version.yaml)
          release_date=$(awk '/symfo-base.release_date:/ {gsub(/'\''/, "", $2); print $2}' config/version.yaml)
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "hash=$hash" >> $GITHUB_OUTPUT
          echo "release_date=$release_date" >> $GITHUB_OUTPUT

  call-build-deploy:
    needs: prepare
    uses: ./.github/workflows/build-deploy.yml
    with:
      environment: ${{ needs.prepare.outputs.environment }}
      version: ${{ needs.prepare.outputs.version }}
