name: Main Workflow
run-name: ${{ github.actor }} triggered "Main"

on:
  push:
    branches:
      - main
      - 'release/**'

  workflow_dispatch:
    inputs:
      environment:
        description: 'The deployment environment (test or prod)'
        required: true
        default: 'prod'
        type: choice
        options:
          - test
          - prod

jobs:
  call-build-deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code in the runner
        uses: actions/checkout@v4

      - name: Determine deployment environment
        id: determine-env
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "::set-output name=environment::prod"
          elif [[ "${{ github.ref }}" == refs/heads/release/* ]]; then
            echo "::set-output name=environment::test"
          else
            echo "Unknown branch: ${{ github.ref }}"
            exit 1
          fi

      - name: Extract version, hash and release date
        id: extract-info
        run: |
          version=$(awk '/symfo-base.version:/ {print $2}' config/parameters.yaml)
          hash=$(awk '/symfo-base.hash:/ {print $2}' config/parameters.yaml)
          release_date=$(awk '/symfo-base.release_date:/ {gsub(/'\''/, "", $2); print $2}' config/parameters.yaml)
          echo "::set-output name=version::$version"
          echo "::set-output name=hash::$hash"
          echo "::set-output name=release_date::$release_date"

      - name: Trigger build-deploy workflow
        uses: ./.github/workflows/build-deploy.yml
        with:
          environment: ${{ steps.determine-env.outputs.environment }}
          version: ${{ steps.extract-info.outputs.version }}
